@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Globale Stile */
*, ::before, ::after {
  box-sizing: border-box;
}
#root {
  height: 100%;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  margin: 0;
  background: #f2f3f7;
  color: #333;
  overflow-x: hidden;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #4A4A4A;
}

.App {
  flex: 1;
  text-align: center;
  min-height: 100%;
  padding: 50px 0;
  box-sizing: border-box;
}

.App.dark-mode {
  background-color: #333;
  color: #f5f5f5;
}

.App.dark-mode .input-wrapper {
  background-color: #444;  /* Hintergrundfarbe des Containers */
}

.App.dark-mode .input-wrapper input {
  background-color: #555;  /* Hintergrundfarbe des Textfelds */
  color: #f5f5f5;          /* Textfarbe für dunklen Hintergrund */
  border-color: #666;      /* Dunkle Farbe für den Rand */
}

.App.dark-mode .content {
  background-color: #555;  /* Hintergrundfarbe des Textfelds */
  color: #f5f5f5;          /* Textfarbe für dunklen Hintergrund */
  border-color: #666;      /* Dunkle Farbe für den Rand */
}

.App.dark-mode h1 {
  color: #f5f5f5;
}

.App.dark-mode .todo-item {
  background-color: #555;  /* Hintergrundfarbe des Textfelds */
  color: #f5f5f5;          /* Textfarbe für dunklen Hintergrund */
  border-color: #666;      /* Dunkle Farbe für den Rand */
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  padding: 20px;
  height: 100%; 
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.input-wrapper input {
  flex: 1;
  font-size: 16px;
  padding: 10px 15px;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  background: #FFF;
}

.add-button {
  border: none;
  border-radius: 50%;
  background: #007AFF;
  color: white;
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.todo-item:hover {
  background: #E9E9E9;
}

.todo-list li {
  list-style-type: none;
  margin: 0;
  font-size: 16px;
}

.delete-button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #FF3B30;
}

.footer {
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
}

.empty {
  font-size: 16px;
  margin-bottom: 1rem;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

.socials a {
  color: #007AFF;
  font-size: 24px;
}

.error-message {
  color: red;
  font-weight: bold;  
  margin: 10px 0;    
}

.source-code-link {
  color: #888;
  text-decoration: none;
  font-size: 14px;
}

.App.dark-mode a {
  color: orangered;
  text-decoration: none; 
}

a {
  color: orangered;
}

.dark-mode-toggle {
  display: inline-flex;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  width: 50px;
  height: 24px;
  background: #e4e4e4;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 2px;
  cursor: pointer;
  transition: background 0.3s;
}

.toggle-ball {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-ball.active {
  transform: translateX(26px);
}

.App.dark-mode .dark-mode-toggle {
  background: #4A90E2;
}

.dark-mode-label {
  position: fixed;
  top: 10px;
  right: 70px;  /* Abstand des Textes vom Schalter */
  z-index: 9999;
  font-size: 16px;
  color: #4A4A4A;  /* Textfarbe für den hellen Modus */
  cursor: pointer;
  transition: color 0.3s;
}

.App.dark-mode .dark-mode-label {
  color: #f5f5f5;  /* Textfarbe für den dunklen Modus */
}
.dark-mode-section {
  display: inline-flex;
  position: fixed;
  top: 16px;
  right: 10px;
  width: 240px;
  height:5px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 2px;
  
}

.dark-mode-toggle {
  display: inline-flex; /* Stellen Sie sicher, dass der Button nicht den gesamten Bereich einnimmt */
}